
.container-footer{
background-size: 100% 103%;
width: 100%;
background-image: url("../../assets/images/beech-footer.jpg");
}

.footer{
  width: 100%;
  font-size: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.fLists{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-size: 1.1rem;
}


.fList{
  list-style: none;
  padding: 0;
}

.fText{
  font-size: 1rem;
}

.fListItem{
  margin-bottom: 10px;
  /* color: #003580; */
  cursor: pointer;
}